<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zfy.yuio.dao.CmpRateDao">
    <select id="get" parameterType="QueryParams" resultType="WriteEmplInfo">
        SELECT empl_status,empl_college_id,empl_major_id
        FROM write_empl_info
        WHERE 1=1
        <if test="grade!=0">
            AND empl_grade=#{grade}
        </if>
        <if test="collegeId!=null and collegeId!=''">
            AND empl_college_id=#{collegeId}
        </if>
        <if test="majorId!=null and majorId!=''">
            AND empl_major_id=#{majorId}
        </if>
    </select>
</mapper>