<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zfy.yuio.dao.MajorDao">
    <insert id="add" parameterType="Major">
        INSERT INTO major(major_id,major_name,major_status,major_description,major_college_id)
        VALUES (#{majorId},#{majorName},#{majorStatus},#{majorDescription},#{majorCollegeId})
    </insert>

    <select id="get" resultType="Major">
        SELECT m.major_id,m.major_name,m.major_status,m.major_create_time,m.major_description,m.major_college_id,
        c.college_name AS major_college_name
        FROM major m
        LEFT JOIN sys_college c
        ON m.major_college_id=c.college_id
    </select>

    <delete id="del" parameterType="String">
        DELETE FROM major
        WHERE major_id=#{id}
    </delete>

    <update id="upd" parameterType="Major">
        UPDATE major
        SET major_name=#{majorName},major_status=#{majorStatus},major_description=#{majorDescription},major_college_id=#{majorCollegeId}
        WHERE major_id=#{majorId}
    </update>

    <select id="getByPid" parameterType="String" resultType="Major">
        SELECT * FROM major
        WHERE major_college_id=#{pid}
    </select>

    <select id="getNameById" parameterType="String" resultType="String">
        SELECT major_name FROM major
        WHERE major_id=#{id}
    </select>
</mapper>