<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zfy.yuio.dao.StatisticsDao">
    <select id="getEmploymentCityInfo" resultType="Map">
        SELECT COUNT(es_id) as people,es_work_city as city
        FROM employment_status
        WHERE es_employment=1
        AND es_grade=#{grade}
        <if test="id!=null">
            AND es_college_id=#{id} OR es_major_id=#{id} OR es_cls_id=#{id}
        </if>
        GROUP BY city
        ORDER BY people desc
    </select>

    <select id="getEmploymentWorkInfo" resultType="Map">
        SELECT COUNT(es_id) as people,es_work_type as type
        FROM employment_status
        WHERE es_employment=1
        AND es_grade=#{grade}
        <if test="id!=null">
            AND es_college_id=#{id} OR es_major_id=#{id} OR es_cls_id=#{id}
        </if>
        GROUP BY type
        ORDER BY people desc
    </select>

    <select id="getUnEmploymentStudentPlan" resultType="Map">
        SELECT COUNT(es_id) as people,es_plan as plan
        FROM employment_status
        WHERE es_employment=0
        AND es_grade=#{grade}
        <if test="id!=null">
            AND es_college_id=#{id} OR es_major_id=#{id} OR es_cls_id=#{id}
        </if>
        GROUP BY plan
        ORDER BY people desc
    </select>

    <select id="getIntentionCityInfo" resultType="Map">
        SELECT COUNT(es_id) as people,es_intention_city as city
        FROM employment_status
        WHERE es_grade=#{grade}
        <if test="id!=null">
            AND es_college_id=#{id} OR es_major_id=#{id} OR es_cls_id=#{id}
        </if>
        GROUP BY city
        ORDER BY people desc
    </select>

    <select id="getIntentionWorkInfo" resultType="Map">
        SELECT COUNT(es_id) as people,es_intention_work as type
        FROM employment_status
        WHERE es_grade=#{grade}
        <if test="id!=null">
            AND es_college_id=#{id} OR es_major_id=#{id} OR es_cls_id=#{id}
        </if>
        GROUP BY type
        ORDER BY people desc
    </select>

    <select id="getGrade" resultType="Integer">
        SELECT DISTINCT es_grade
        FROM employment_status
    </select>

    <select id="getEStatusStudentInfo" parameterType="Object" resultType="Student">
        SELECT
        s.student_id,s.student_name,s.student_code,s.student_gender,s.student_phone,s.student_status,s.student_grade,s.student_description,s.student_college_id,s.student_major_id,s.student_class_id,
        e.es_employment,e.es_work_city,e.es_work_type,e.es_status,e.es_plan,e.es_intention_city,e.es_intention_work
        FROM student s
        LEFT JOIN employment_status e
        ON s.student_id=e.es_student_id
        <if test="id!=null">
            WHERE s.student_id=#{id}
            OR s.student_class_id=#{id}
            OR s.student_major_id=#{id}
            OR s.student_college_id=#{id}
        </if>
        <if test="grade!=0">
            AND s.student_grade=#{grade}
        </if>
        ORDER BY e.es_employment
    </select>
</mapper>