<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zfy.yuio.dao.StatisticsDao">
    <select id="getEmploymentCityInfo" resultType="Map">
        SELECT COUNT(es_id) as people,es_work_city as city
        FROM employment_status
        WHERE es_employment=1
        GROUP BY city
        ORDER BY people desc
    </select>

    <select id="getEmploymentWorkInfo" resultType="Map">
        SELECT COUNT(es_id) as people,es_work_type as type
        FROM employment_status
        WHERE es_employment=1
        GROUP BY type
        ORDER BY people desc
    </select>

    <select id="getUnEmploymentStudentPlan" resultType="Map">
        SELECT COUNT(es_id) as people,es_plan as plan
        FROM employment_status
        WHERE es_employment=0
        GROUP BY plan
        ORDER BY people desc
    </select>

    <select id="getIntentionCityInfo" resultType="Map">
        SELECT COUNT(es_id) as people,es_intention_city as city
        FROM employment_status
        GROUP BY city
        ORDER BY people desc
    </select>

    <select id="getIntentionWorkInfo" resultType="Map">
        SELECT COUNT(es_id) as people,es_intention_work as type
        FROM employment_status
        GROUP BY type
        ORDER BY people desc
    </select>
</mapper>