<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zfy.yuio.dao.StatisticsDao">
    <select id="getEmploymentCityInfo" resultType="Statistics">
        SELECT COUNT(e.es_id) as people,c.city_name as city
        FROM employment_status e
        LEFT JOIN city c
        ON e.es_work_city=c.city_id
        WHERE es_employment=1
        AND es_grade=#{esGrade}
        <if test="esCollegeId!=null">
            AND es_college_id=#{esCollegeId}
        </if>
        <if test="esMajorId!=null">
            AND es_major_id=#{esMajorId}
        </if>
        <if test="esClsId!=null">
            AND es_cls_id=#{esClsId}
        </if>
        GROUP BY city
        ORDER BY people desc
    </select>

    <select id="getEmploymentWorkInfo" resultType="Statistics">
        SELECT COUNT(e.es_id) as people,w.work_name as type
        FROM employment_status e
        LEFT JOIN work w
        ON e.es_work_type=w.work_id
        WHERE e.es_employment=1
        AND e.es_grade=#{esGrade}
        <if test="esCollegeId!=null">
            AND e.es_college_id=#{esCollegeId}
        </if>
        <if test="esMajorId!=null">
            AND e.es_major_id=#{esMajorId}
        </if>
        <if test="esClsId!=null">
            AND e.es_cls_id=#{esClsId}
        </if>
        GROUP BY type
        ORDER BY people desc
    </select>

    <select id="getUnEmploymentStudentPlan" resultType="Statistics">
        SELECT COUNT(es_id) as people,es_plan as plan
        FROM employment_status
        WHERE es_employment=0
        AND es_grade=#{esGrade}
        <if test="esCollegeId!=null">
            AND e.es_college_id=#{esCollegeId}
        </if>
        <if test="esMajorId!=null">
            AND e.es_major_id=#{esMajorId}
        </if>
        <if test="esClsId!=null">
            AND e.es_cls_id=#{esClsId}
        </if>
        GROUP BY plan
        ORDER BY people desc
    </select>

    <select id="getIntentionCityInfo" resultType="Statistics">
        SELECT COUNT(e.es_id) as people,c.city_name as city
        FROM employment_status e
        LEFT JOIN city c
        ON e.es_intention_city=c.city_id
        WHERE es_employment=1
        AND es_grade=#{esGrade}
        <if test="esCollegeId!=null">
            AND es_college_id=#{esCollegeId}
        </if>
        <if test="esMajorId!=null">
            AND es_major_id=#{esMajorId}
        </if>
        <if test="esClsId!=null">
            AND es_cls_id=#{esClsId}
        </if>
        GROUP BY city
        ORDER BY people desc
    </select>

    <select id="getIntentionWorkInfo" resultType="Statistics">
        SELECT COUNT(e.es_id) as people,w.work_name as type
        FROM employment_status e
        LEFT JOIN work w
        ON e.es_intention_work=w.work_id
        WHERE e.es_employment=1
        AND e.es_grade=#{esGrade}
        <if test="esCollegeId!=null">
            AND e.es_college_id=#{esCollegeId}
        </if>
        <if test="esMajorId!=null">
            AND e.es_major_id=#{esMajorId}
        </if>
        <if test="esClsId!=null">
            AND e.es_cls_id=#{esClsId}
        </if>
        GROUP BY type
        ORDER BY people desc
    </select>

    <select id="getGrade" resultType="Integer">
        SELECT DISTINCT es_grade
        FROM employment_status
    </select>
</mapper>