<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zfy.yuio.dao.StatsIntentionDao">
    <select id="getIntentionCities" parameterType="QueryParams" resultType="StatsEmplResult">
        SELECT COUNT(s.student_id) AS total_people,c.city_name
        FROM sys_student s
        LEFT JOIN write_student_city sc
        ON s.student_id=sc.sc_student_id
        LEFT JOIN sys_city c
        ON c.city_id=sc.sc_city_id
        LEFT JOIN sys_class cls
        ON s.student_class_id=cls.class_id
        LEFT JOIN sys_major m
        ON cls.class_major_id=m.major_id
        LEFT JOIN sys_college co
        ON m.major_college_id=co.college_id
        WHERE sc.sc_student_id IS NOT NULL
        <if test="grade!=0">
            AND s.student_grade=#{grade}
        </if>
        <if test="classId!=null">
            AND cls.class_id=#{classId}
        </if>
        <if test="majorId!=null">
            AND m.major_id=#{majorId}
        </if>
        <if test="collegeId!=null">
            AND co.college_id=#{collegeId}
        </if>
        GROUP BY c.city_name
    </select>

    <select id="getIntentionWorks" parameterType="QueryParams" resultType="StatsEmplResult">
        SELECT COUNT(s.student_id) AS total_people,w.work_name
        FROM sys_student s
        LEFT JOIN write_student_work sw
        ON s.student_id=sw.sw_student_id
        LEFT JOIN sys_work w
        ON w.work_id=sw.sw_work_id
        LEFT JOIN sys_class cls
        ON s.student_class_id=cls.class_id
        LEFT JOIN sys_major m
        ON cls.class_major_id=m.major_id
        LEFT JOIN sys_college co
        ON m.major_college_id=co.college_id
        WHERE sw.sw_student_id IS NOT NULL
        <if test="grade!=0">
            AND s.student_grade=#{grade}
        </if>
        <if test="classId!=null">
            AND cls.class_id=#{classId}
        </if>
        <if test="majorId!=null">
            AND m.major_id=#{majorId}
        </if>
        <if test="collegeId!=null">
            AND co.college_id=#{collegeId}
        </if>
        GROUP BY w.work_name
    </select>

    <select id="getIntentionWorksByGender" parameterType="QueryParams" resultType="StatsEmplResult">
        SELECT MAX(total_people) AS total_people,work_name
        FROM(
        SELECT COUNT(s.student_id) AS total_people,w.work_name
        FROM sys_student s
        LEFT JOIN write_student_work sw
        ON s.student_id=sw.sw_student_id
        LEFT JOIN sys_work w
        ON w.work_id=sw.sw_work_id
        LEFT JOIN sys_class cls
        ON s.student_class_id=cls.class_id
        LEFT JOIN sys_major m
        ON cls.class_major_id=m.major_id
        LEFT JOIN sys_college co
        ON m.major_college_id=co.college_id
        WHERE sw.sw_student_id IS NOT NULL
        <if test="grade!=0">
            AND s.student_grade=#{grade}
        </if>
        <if test="classId!=null">
            AND cls.class_id=#{classId}
        </if>
        <if test="majorId!=null">
            AND m.major_id=#{majorId}
        </if>
        <if test="collegeId!=null">
            AND co.college_id=#{collegeId}
        </if>
        <if test="gender!=null">
            AND s.student_gender=#{gender}
        </if>
        GROUP BY w.work_name
        ) AS m
        GROUP BY work_name
        ORDER BY total_people DESC
        <choose>
            <when test="most==0">
                LIMIT 1
            </when>
            <otherwise>
                LIMIT 1,1
            </otherwise>
        </choose>
    </select>
</mapper>