<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zfy.yuio.dao.StatsIntentionDao">
    <select id="getIntentionCities" parameterType="QueryParams" resultType="StatsEmplResult">
        SELECT COUNT(s.student_code) AS total_people,c.city_name
        FROM sys_student s
        LEFT JOIN write_student_city sc
        ON s.student_code=sc.sc_student_code
        LEFT JOIN sys_city c
        ON c.city_id=sc.sc_city_id
        LEFT JOIN sys_class cls
        ON s.student_class_id=cls.class_id
        LEFT JOIN sys_major m
        ON cls.class_major_id=m.major_id
        LEFT JOIN sys_college co
        ON m.major_college_id=co.college_id
        WHERE sc.sc_student_code IS NOT NULL
        <if test="grade!=0">
            AND s.student_grade=#{grade}
        </if>
        <if test="orgId!=null">
            AND (
            cls.class_id=#{orgId}
            OR m.major_id=#{orgId}
            OR co.college_id=#{orgId}
            )
        </if>
        GROUP BY c.city_name
    </select>

    <select id="getIntentionWorks" parameterType="QueryParams" resultType="StatsEmplResult">
        SELECT COUNT(s.student_code) AS total_people,w.work_name
        FROM sys_student s
        LEFT JOIN write_student_work sw
        ON s.student_code=sw.sw_student_code
        LEFT JOIN sys_work w
        ON w.work_id=sw.sw_work_id
        LEFT JOIN sys_class cls
        ON s.student_class_id=cls.class_id
        LEFT JOIN sys_major m
        ON cls.class_major_id=m.major_id
        LEFT JOIN sys_college co
        ON m.major_college_id=co.college_id
        WHERE sw.sw_student_code IS NOT NULL
        <if test="grade!=0">
            AND s.student_grade=#{grade}
        </if>
        <if test="orgId!=null">
            AND (
            cls.class_id=#{orgId}
            OR m.major_id=#{orgId}
            OR co.college_id=#{orgId}
            )
        </if>
        GROUP BY w.work_name
    </select>

    <select id="getWorkRank" parameterType="QueryParams" resultType="StatsEmplResult">
        SELECT COUNT(s.student_code) AS total_people,w.work_name
        FROM sys_student s
        LEFT JOIN write_student_work sw
        ON s.student_code=sw.sw_student_code
        LEFT JOIN sys_work w
        ON w.work_id=sw.sw_work_id
        LEFT JOIN sys_class cls
        ON s.student_class_id=cls.class_id
        LEFT JOIN sys_major m
        ON cls.class_major_id=m.major_id
        LEFT JOIN sys_college co
        ON m.major_college_id=co.college_id
        WHERE sw.sw_student_code IS NOT NULL
        <if test="grade!=0">
            AND s.student_grade=#{grade}
        </if>
        <if test="orgId!=null">
            AND (
            cls.class_id=#{orgId}
            OR m.major_id=#{orgId}
            OR co.college_id=#{orgId}
            )
        </if>
        <if test="gender!=null">
            AND s.student_gender=#{gender}
        </if>
        GROUP BY w.work_name
        ORDER BY total_people DESC
    </select>
</mapper>