<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zfy.yuio.dao.StudentDao">
    <insert id="add" parameterType="Student">
        INSERT INTO student(student_id,student_name,student_code,student_gender,student_phone,student_status,student_grade,
        student_description,student_college_id,student_major_id,student_class_id,student_pwd,student_salt)
        VALUES (#{studentId},#{studentName},#{studentCode},#{studentGender},#{studentPhone},#{studentStatus},#{studentGrade},
        #{studentDescription},#{studentCollegeId},#{studentMajorId},#{studentClassId},#{studentPwd},#{studentSalt})
    </insert>

    <select id="get" resultType="Student">
        SELECT student_id,student_name,student_code,student_gender,student_phone,student_status,student_grade,
        student_description,student_college_id,student_major_id,student_class_id,student_create_time
         FROM student
    </select>

    <delete id="del" parameterType="String">
        DELETE FROM student
        WHERE student_id=#{id}
    </delete>

    <update id="upd" parameterType="Student">
        UPDATE student
        SET student_name=#{studentName},student_code=#{studentCode},student_gender=#{studentGender},student_phone=#{studentPhone},
        student_status=#{studentStatus},student_grade=#{studentGrade},student_description=#{studentDescription},
        student_college_id=#{studentCollegeId},student_major_id=#{studentMajorId},student_class_id=#{studentClassId}
        WHERE student_id=#{studentId}
    </update>

    <select id="getByPid" parameterType="String" resultType="Student">
        SELECT * FROM student
        WHERE student_major_id=#{pid}
    </select>

    <select id="getNameById" parameterType="String" resultType="String">
        SELECT student_name FROM student
        WHERE student_id=#{id}
    </select>

    <select id="getById" parameterType="String" resultType="Student">
        SELECT student_id,student_name,student_code,student_gender,student_phone,student_status,student_grade,
        student_description,student_college_id,student_major_id,student_class_id,student_create_time
        FROM student
        WHERE student_id=#{id}
    </select>
</mapper>