<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zfy.yuio.dao.SysClassDao">
    <insert id="add" parameterType="SysClass">
        INSERT INTO sys_class(class_id,class_name,class_status,class_remark,class_major_id,class_grade)
        VALUES (#{classId},#{className},#{classStatus},#{classRemark},#{classMajorId},#{classGrade})
    </insert>

    <select id="get" resultType="SysClass">
        SELECT cls.class_id,cls.class_name,cls.class_status,cls.class_create_time,cls.class_remark,cls.class_major_id,cls.class_grade,
        m.major_name AS class_major_name,c.college_name AS class_college_name
        FROM sys_class cls
        LEFT JOIN sys_major m
        ON cls.class_major_id=m.major_id
        LEFT JOIN sys_college c
        ON m.major_college_id=c.college_id
    </select>

    <delete id="del" parameterType="Long">
        DELETE FROM sys_class
        WHERE class_id=#{id}
    </delete>

    <update id="upd" parameterType="SysClass">
        UPDATE sys_class
        SET class_name=#{className},class_status=#{classStatus},class_remark=#{classRemark},class_major_id=#{classMajorId},class_grade=#{classGrade}
        WHERE class_id=#{classId}
    </update>

    <select id="getByPid" parameterType="Object" resultType="SysClass">
        SELECT * FROM sys_class
        WHERE class_major_id=#{pid}
        <if test="grade!=0">
            AND class_grade=#{grade}
        </if>
    </select>

    <select id="getByKeyword" parameterType="String" resultType="SysClass">
        SELECT cls.class_id,cls.class_name,cls.class_status,cls.class_create_time,cls.class_remark,cls.class_major_id,cls.class_grade,
        m.major_name AS class_major_name,c.college_name AS class_college_name
        FROM sys_class cls
        LEFT JOIN sys_major m
        ON cls.class_major_id=m.major_id
        LEFT JOIN sys_college c
        ON m.major_college_id=c.college_id
        WHERE class_name LIKE concat('%',#{keyword},'%')
    </select>

    <select id="getByGrade" parameterType="Integer" resultType="SysClass">
        SELECT cls.class_id,cls.class_name,cls.class_status,cls.class_create_time,cls.class_remark,cls.class_major_id,cls.class_grade,
        m.major_name AS class_major_name,c.college_name AS class_college_name
        FROM sys_class cls
        LEFT JOIN sys_major m
        ON cls.class_major_id=m.major_id
        LEFT JOIN sys_college c
        ON m.major_college_id=c.college_id
        WHERE cls.class_grade=#{grade}
    </select>

    <select id="getIdByName" parameterType="String" resultType="Long">
        SELECT class_id FROM sys_class
        WHERE class_name=#{name}
    </select>

    <insert id="addFromExcel" parameterType="ExcelClass">
        INSERT INTO sys_class(class_id,class_name,class_status,class_remark,class_major_id,class_grade)
        VALUES
        <foreach collection="params" item="c">
            (#{c.classId},#{c.className},#{c.classStatus},#{c.classRemark},#{c.classMajorId},#{c.classGrade})
        </foreach>
    </insert>

    <select id="getById" parameterType="Long" resultType="SysClass">
        SELECT * FROM sys_class
        WHERE class_id=#{id}
    </select>

    <select id="genGetCollegeId" parameterType="Long" resultType="Long">
        SELECT
	co.college_id
FROM
	sys_college co
	LEFT JOIN sys_major m ON co.college_id = m.major_college_id
	LEFT JOIN sys_class cls ON m.major_id = cls.class_major_id
WHERE
	cls.class_id=#{id}
    </select>
</mapper>