<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zfy.yuio.dao.SysDao">
    <update id="resetPwd" parameterType="String">
        <choose>
            <when test="isUser">
                UPDATE sys_user
                SET user_pwd=#{pwd}
                WHERE user_id=#{key}
            </when>
            <otherwise>
                UPDATE sys_student
                SET student_pwd=#{pwd}
                WHERE student_id=#{key}
            </otherwise>
        </choose>
    </update>

    <select id="getPwd" parameterType="String" resultType="Map">
        <choose>
            <when test="isUser">
                SELECT user_pwd,user_salt
                FROM sys_user
                WHERE user_id=#{key}
                OR user_code=#{key}
            </when>
            <otherwise>
                SELECT student_pwd,student_salt
                FROM sys_student
                WHERE student_id=#{key}
                OR student_code=#{key}
            </otherwise>
        </choose>
    </select>

    <select id="getGrade" resultType="Integer">
        SELECT DISTINCT class_grade
        FROM sys_class
    </select>

    <select id="getUsrLoginInfo" resultType="SysUser" parameterType="String">
        SELECT * FROM sys_user
        WHERE user_code=#{key}
    </select>

    <select id="getStudentLoginInfo" parameterType="String" resultType="SysStudent">
        SELECT student_id,student_name,student_code,student_gender,student_phone,student_status,student_grade,
        student_remark,student_class_id,student_pwd,student_salt,student_create_time
        FROM sys_student
        WHERE student_code=#{key}
    </select>
</mapper>