<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zfy.yuio.dao.SysMajorDao">
    <insert id="add" parameterType="SysMajor">
        INSERT INTO sys_major(major_id,major_name,major_status,major_remark,major_college_id)
        VALUES (#{majorId},#{majorName},#{majorStatus},#{majorRemark},#{majorCollegeId})
    </insert>

    <select id="get" resultType="SysMajor">
        SELECT m.major_id,m.major_name,m.major_status,m.major_create_time,m.major_remark,m.major_college_id,
        c.college_name
        FROM sys_major m
        LEFT JOIN sys_college c
        ON m.major_college_id=c.college_id
    </select>

    <delete id="del" parameterType="Long">
        DELETE FROM sys_major
        WHERE major_id=#{id}
    </delete>

    <update id="upd" parameterType="SysMajor">
        UPDATE sys_major
        SET major_name=#{majorName},major_status=#{majorStatus},major_remark=#{majorRemark},major_college_id=#{majorCollegeId}
        WHERE major_id=#{majorId}
    </update>

    <select id="getByPid" parameterType="Long" resultType="SysMajor">
        SELECT * FROM sys_major
        WHERE major_college_id=#{pid}
    </select>

    <select id="getByKeyword" parameterType="String" resultType="SysMajor">
        SELECT m.major_id,m.major_name,m.major_status,m.major_create_time,m.major_remark,m.major_college_id,
        c.college_name
        FROM sys_major m
        LEFT JOIN sys_college c
        ON m.major_college_id=c.college_id
        WHERE major_name LIKE concat('%',#{keyword},'%')
    </select>

    <insert id="addFromExcel" parameterType="ExcelMajor">
        INSERT INTO sys_major(major_id,major_name,major_status,major_remark,major_college_id)
        VALUES
        <foreach collection="params" item="m">
            (#{m.majorId},#{m.majorName},#{m.majorStatus},#{m.majorRemark},#{m.majorCollegeId})
        </foreach>
    </insert>

    <select id="getIdByName" parameterType="String" resultType="Long">
        SELECT major_id FROM sys_major
        WHERE major_name=#{name}
    </select>
</mapper>