<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zfy.yuio.dao.SysRoleDao">
    <insert id="add" parameterType="SysRole">
        INSERT INTO sys_role(role_id,role_name,role_pid,role_status,role_remark)
        VALUES(#{roleId},#{roleName},#{rolePid},#{roleStatus},#{roleRemark})
    </insert>

    <select id="get" resultType="SysRole">
        SELECT * FROM sys_role
    </select>

    <delete id="del" parameterType="String">
        DELETE FROM sys_role
        WHERE role_id=#{id}
    </delete>

    <update id="upd" parameterType="SysRole">
        UPDATE sys_role
        SET role_name=#{roleName},role_pid=#{rolePid},role_status=#{roleStatus},role_remark=#{roleRemark}
        WHERE role_id=#{roleId}
    </update>

    <insert id="addPerms" parameterType="String">
        INSERT INTO sys_role_perms(rp_id,rp_role_id,rp_perms_id)
        VALUES(#{rprId},#{rprRoleId},#{rprPermsId})
    </insert>

    <select id="getRolePerms" parameterType="String" resultType="String">
        SELECT rp.rp_perms_id
        FROM sys_role_perms rp
        LEFT JOIN sys_perms p
        ON p.perms_id=rp.rp_perms_id
        WHERE rp.rp_role_id=#{id}
        AND p.perms_type='2'
    </select>

    <delete id="delPerms" parameterType="String">
        DELETE FROM sys_role_perms
        WHERE rp_role_id=#{id}
    </delete>
</mapper>