<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zfy.yuio.dao.SysUserDao">
    <insert id="add" parameterType="SysUser">
        INSERT INTO sys_user(user_id,user_name,user_code,user_gender,user_phone,user_status,user_remark,user_pwd,user_salt,user_college_id)
        VALUES (#{userId},#{userName},#{userCode},#{userGender},#{userPhone},#{userStatus},#{userRemark},#{userPwd},#{userSalt},#{userCollegeId})
    </insert>

    <select id="get" resultType="SysUser">
        SELECT user_id,user_name,user_code,user_gender,user_phone,user_status,user_remark,user_create_time,user_college_id
        FROM sys_user
    </select>

    <delete id="del" parameterType="Long">
        DELETE FROM sys_user
        WHERE user_id=#{id}
    </delete>

    <update id="upd" parameterType="SysUser">
        UPDATE sys_user
        SET user_name=#{userName},user_code=#{userCode},user_gender=#{userGender},user_phone=#{userPhone},user_status=#{userStatus},user_college_id=#{userCollegeId},
        user_remark=#{userRemark}
        WHERE user_id=#{userId}
    </update>

    <insert id="addRole" parameterType="Long">
        INSERT INTO sys_user_role(ur_user_id,ur_role_id)
        VALUES(#{userId},#{roleId})
    </insert>

    <select id="getRoles" parameterType="Long" resultType="Long">
        SELECT ur_role_id FROM sys_user_role
        WHERE ur_user_id=#{id}
    </select>

    <delete id="delRole" parameterType="Long">
        DELETE FROM sys_user_role
        WHERE ur_user_id=#{id}
    </delete>

    <select id="getById" parameterType="Long" resultType="SysUser">
        SELECT user_id,user_name,user_code,user_gender,user_phone,user_status,user_remark,user_create_time,user_college_id
        FROM sys_user
        WHERE user_id=#{id}
    </select>

    <select id="getByKeyword" parameterType="String" resultType="SysUser">
        SELECT user_id,user_name,user_code,user_gender,user_phone,user_status,user_remark,user_create_time,user_college_id
        FROM sys_user
        WHERE user_name LIKE concat('%',#{keyword},'%')
        OR user_code LIKE concat('%',#{keyword},'%')
    </select>

    <update id="updProfile" parameterType="SysUser">
        UPDATE sys_user
        SET user_gender=#{userGender},user_phone=#{userPhone}
        WHERE user_id=#{userId}
    </update>

    <select id="getPwdInfo" parameterType="Long" resultType="SysUser">
        SELECT user_pwd,user_salt
        FROM sys_user
        WHERE user_id=#{id}
    </select>

    <insert id="addFromExcel" parameterType="SysUser">
        INSERT INTO sys_user(user_id,user_name,user_code,user_gender,user_phone,user_status,user_remark,user_pwd,user_salt)
        VALUES
        <foreach collection="params" item="u" separator=",">
            (#{u.userId},#{u.userName},#{u.userCode},#{u.userGender},#{u.userPhone},#{u.userStatus},#{u.userRemark},#{u.userPwd},#{u.userSalt})
        </foreach>
    </insert>

    <select id="verify" parameterType="String" resultType="Long">
        SELECT user_id
        FROM sys_user
        WHERE user_code=#{key}
        OR user_phone=#{key}
    </select>

    <select id="getByCollege" parameterType="Long" resultType="SysUser">
        SELECT u.user_id,u.user_name,u.user_code,u.user_gender,u.user_phone,u.user_status,u.user_remark,u.user_create_time,u.user_college_id
        FROM sys_user u
        LEFT JOIN sys_college c
        ON u.user_college_id=c.college_id
        WHERE c.college_id=#{id}
    </select>
</mapper>