<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zfy.yuio.dao.SysWorkDao">
    <insert id="add" parameterType="SysWork">
        INSERT INTO sys_work(work_id,work_name,work_pid,work_status,work_level,work_remark)
        VALUES(#{workId},#{workName},#{workPid},#{workStatus},#{workLevel},#{workRemark})
    </insert>

    <select id="get" resultType="SysWork">
        SELECT * FROM sys_work
    </select>

    <delete id="del" parameterType="Long">
        DELETE FROM sys_work
        WHERE work_id=#{id}
    </delete>

    <update id="upd" parameterType="SysWork">
        UPDATE sys_work
        SET work_name=#{workName},work_pid=#{workPid},work_status=#{workStatus},work_level=#{workLevel},work_remark=#{workRemark}
        WHERE work_id=#{workId}
    </update>

    <select id="getById" parameterType="Long" resultType="SysWork">
        SELECT * FROM sys_work
        WHERE work_id=#{id}
    </select>

    <select id="getByKeyword" parameterType="String" resultType="SysWork">
        SELECT * FROM sys_work
        WHERE work_name LIKE concat('%',#{keyword},'%')
    </select>

    <insert id="addFromExcel" parameterType="SysWork">
        INSERT INTO sys_work(work_id,work_name,work_pid,work_status,work_level,work_remark)
        VALUES
        <foreach collection="params" item="w" separator=",">
            (#{w.workId},#{w.workName},#{w.workPid},#{w.workStatus},#{w.workLevel},#{w.workRemark})
        </foreach>
    </insert>

    <select id="getWithoutIndustry" resultType="SysWork">
        SELECT * FROM sys_work
        WHERE work_level>0
    </select>

    <select id="verify" parameterType="String" resultType="Long">
        SELECT work_id
        FROM sys_work
        WHERE work_name=#{key}
    </select>
</mapper>