<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zfy.yuio.dao.UsrDao">
    <insert id="add" parameterType="Usr">
        INSERT INTO usr(usr_id,usr_name,usr_account,usr_gender,usr_phone,usr_email,usr_status,usr_description,usr_pwd,usr_salt)
        VALUES (#{usrId},#{usrName},#{usrAccount},#{usrGender},#{usrPhone},#{usrEmail},#{usrStatus},#{usrDescription},#{usrPwd},#{usrSalt})
    </insert>

    <select id="get" resultType="Usr">
        SELECT usr_id,usr_name,usr_account,usr_gender,usr_phone,usr_email,usr_status,usr_description
        FROM usr
    </select>

    <delete id="del" parameterType="String">
        DELETE FROM usr
        WHERE usr_id=#{id}
    </delete>

    <update id="upd" parameterType="Usr">
        UPDATE usr
        SET usr_name=#{usrName},usr_account=#{usrAccount},usr_gender=#{usrGender},usr_phone=#{usrPhone},usr_email=#{usrEmail},usr_status=#{usrStatus},
        usr_description=#{usrDescription}
        WHERE usr_id=#{usrId}
    </update>
</mapper>