<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zfy.yuio.dao.WorkDao">
    <insert  id="add" parameterType="Work">
        INSERT INTO work(work_id,work_name,work_pid,work_status,work_level)
        VALUES(#{workId},#{workName},#{workPid},#{workStatus},#{workLevel})
    </insert>

    <select id="get" resultType="Work">
        SELECT * FROM work
    </select>

    <delete id="del" parameterType="String">
        DELETE FROM work
        WHERE work_id=#{id}
    </delete>

    <update id="upd" parameterType="Work">
        UPDATE work
        SET work_name=#{workName},work_pid=#{workPid},work_status=#{workStatus},work_level=#{workLevel}
        WHERE work_id=#{workId}
    </update>

    <select id="getById" parameterType="String" resultType="Work">
        SELECT * FROM work
        WHERE work_id=#{id}
    </select>

    <select id="getByPid" parameterType="String" resultType="Work">
        SELECT * FROM work
        WHERE work_pid=#{pid}
    </select>
</mapper>