<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zfy.yuio.dao.WriteEmplDao">
    <insert id="add" parameterType="StatsEmplInfo">
        INSERT INTO stats_empl_info(empl_id,empl_student_id,empl_class_id,empl_major_id,empl_college_id,empl_grade,empl_status,
        empl_company,empl_work_city,empl_work_type,empl_protocol,empl_plan,empl_intention_city,empl_intention_work)
        VALUES(#{emplId},#{emplStudentId},#{emplClassId},#{emplMajorId},#{emplCollegeId},#{emplGrade},#{emplStatus},#{emplCompany},
        #{emplWorkCity},#{emplWorkType},#{emplProtocol},#{emplPlan},#{emplIntentionCity},#{emplIntentionWork})
    </insert>

    <select id="get" parameterType="String" resultType="StatsEmplInfo">
        SELECT * FROM stats_empl_info
        WHERE empl_student_id=#{emplStudentId}
    </select>

    <update id="upd" parameterType="StatsEmplInfo">
        UPDATE stats_empl_info SET empl_status=#{emplStatus},empl_company=#{emplCompany},empl_work_city=#{emplWorkCity},empl_work_type=#{emplWorkType},
        empl_protocol=#{emplProtocol},empl_plan=#{emplPlan},empl_intention_city=#{emplIntentionCity},empl_intention_work=#{emplIntentionWork}
        WHERE empl_student_id=#{emplStudentId}
    </update>
</mapper>