<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zfy.yuio.dao.WriteEmplDao">
    <insert id="add" parameterType="WriteEmplInfo">
        INSERT INTO write_empl_info(empl_id,empl_status,empl_company,empl_protocol,empl_plan,empl_student_id,empl_city_id,empl_work_id)
        VALUES(#{emplId},#{emplStatus},#{emplCompany},#{emplProtocol},#{emplPlan},#{emplStudentId},#{emplCityId},#{emplWorkId})
    </insert>

    <select id="get" parameterType="Long" resultType="WriteEmplInfo">
        SELECT * FROM write_empl_info
        WHERE empl_student_id=#{emplStudentId}
    </select>

    <update id="upd" parameterType="WriteEmplInfo">
        UPDATE write_empl_info SET empl_status=#{emplStatus},empl_company=#{emplCompany},empl_protocol=#{emplProtocol},
        empl_plan=#{emplPlan},empl_city_id=#{emplCityId},empl_work_id=#{emplWorkId}
        WHERE empl_student_id=#{emplStudentId}
    </update>

    <insert id="addIntentionCities" parameterType="Long">
        INSERT INTO write_student_city(sc_student_id,sc_city_id)
        VALUES(#{studentId},#{cityId})
    </insert>

    <insert id="addIntentionWorks" parameterType="Long">
        INSERT INTO write_student_work(sw_student_id,sw_work_id)
        VALUES(#{studentId},#{workId})
    </insert>

    <delete id="delIntentionCities" parameterType="Long">
        DELETE FROM write_student_city
        WHERE sc_student_id=#{id}
    </delete>

    <delete id="delIntentionWorks" parameterType="Long">
        DELETE FROM write_student_work
        WHERE sw_student_id=#{id}
    </delete>

    <select id="getIntentionCities" parameterType="Long" resultType="Long">
        SELECT sc_city_id FROM write_student_city
        WHERE sc_student_id=#{id}
    </select>

    <select id="getIntentionWorks" parameterType="Long" resultType="Long">
        SELECT sw_work_id FROM write_student_work
        WHERE sw_student_id=#{id}
    </select>

    <update id="saveProtocolFile" parameterType="WriteEmplInfo">
        UPDATE write_empl_info SET empl_protocol_file=#{emplProtocolFile}
        WHERE  empl_student_id=#{emplStudentId}
    </update>
</mapper>